@charset "utf-8";
#intro
{
    position:relative;
    height:100vh;
    padding-bottom: 100px;
}
#intro .inner
{
    position: relative;
    height:100%;
}
.intro_text
{
    position:absolute;
    bottom:0;
    right:0;
    text-align: right;
}

#aboutme
{
    height:100vh;
    padding:100px 0px;
    transition: all 1s;
    
}
#aboutme dd
{
    margin-left:1px;
}
#aboutme .inner
{
    display: flex;
}

#aboutme .text_left
{
    width:50%;
}
#aboutme dl
{
    margin:25px 0px;
}
#aboutme .text_right dd span
{
    font-weight:300;
    margin-left:5px;
}

#aboutme .text_right
{
    width:50%;
}
#identity
{
    height:100vh;
    padding:100px 0px;

}

#identity .inner 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100%;
}
.info_btn
{
    border:1px solid rgba(0,0,0,0.2);
    padding:10px 20px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    transition:all 0.3s;
    cursor:pointer;
    font-size:1.8rem;
    background:#fff;
}
.info_btn:hover
{
    background:#333;
    border:1px solid #333;
    color:#fff;
}

#wish
{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0.9;
}

.wish_text
{
    display: flex;
    flex-direction: column;
    gap:0px;
    align-items: center;
    justify-content: center;
}


#wish .en_h1
{
    font-size:10rem;
}
#wish p
{
    font-family: 'silk-itl';
    font-size:14rem;
    line-height: 1;
}
#works
{
    padding:100px 0px;
}


body
{
    transition:all 1s;
}
body.on
{
    background:#000;
}


#works h3
{
    text-align: center;
    padding:100px 0px;
    transition:all 1s;

}
#works h3.on
{
    color:#fff;
}

.works_imgwrap
{
    display: flex;
    justify-content: center;
    gap:100px;
}
.img_right
{
    margin-top:200px;
}
.works_imgwrap > ul
{
    width:calc(100% / 3);
}
.works_imgwrap > ul > li
{
    overflow: hidden;
    position: relative;
}
.works_imgwrap li
{
    transition:all 0.2s;
}

.works_imgwrap > ul > li:nth-child(1)
{
    margin-bottom:100px;
}


.img_left > li:nth-child(1)
{
    border-radius:7px;
    background:url('../img/sec_works/solidhomme_bg.svg')
     no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.img_left > li:nth-child(2)
{
    border-radius:7px;
    background:url('../img/sec_works/youngfestival_bg.svg')
     no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-bottom:100px;

}
.img_left > li:nth-child(3)
{
    border-radius:7px;
    background:url('../img/sec_works/gyoha_bg.svg')
     no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.img_right > li:nth-child(1)
{
    border-radius:7px;
    background:url('../img/sec_works/realcat_bg.svg')
     no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.img_right > li:nth-child(2)
{
    border-radius:7px;
    background:url('../img/sec_works/jomalone_bg.svg')
     no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}


.project_img
{
    border-radius:5px;
    width:100%;

}
.img_txt
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity:0;
    color:#fff;
    width:100%;
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:all 0.3s;
    z-index:1;

}

.logo_align
{
    width:80%;
}

.project_img
{
    position:relative;
}


.btn_box
{   
    height:100%;
    display: flex;
    align-items: end;
    text-align: center;
    opacity: 0;
    transition:all 0.3s;


}
.web_btn
{

    width:50%;
    padding:10px 0px;
}
.guide_btn
{
    width:50%;
    padding:10px 0px;
}
.btn_box a
{
    color:#fff;
    display: block;

}

.realcat_btn
{
    width:100%;
}
.works_imgwrap li:hover .btn_box
{
    opacity: 1;
    background:rgba(0,0,0,0.4);
}

.web_btn:hover
{
    background:#fff;
}
.web_btn:hover a
{
    color:#333;
}
.guide_btn:hover
{
    background:#fff;
}
.guide_btn:hover a
{
    color:#333;
}


.works_imgwrap > ul > li:hover .img_txt
{
    opacity:1;
}


#connection
{
    height:100vh;
    padding:100px 0px;
}
#connection .inner
{
    height:100%;
    position: relative;

}

.connection_text
{
    position:absolute;
    bottom:0;
    right:0;
    text-align: right;
}
.connection_text li:nth-child(3),
.connection_text li:nth-child(4)
{
    text-transform: none;
}
